/** @format */

.header {
	display: flex;
	background-color: #e7e9eb;
	height: 50px;
	align-items: center;
}

.save__icon {
	margin-left: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.theme__icon {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.run__icon {
	background-color: #04aa6d;
	color: white;
	text-align: center;
	width: 50px;
	cursor: pointer;
	margin: auto;
	text-align: center;
}

.editor__container {
	width: 100vw;
	height: 90vh;
	display: flex;
}

.html__editor {
	width: 50vw;
	flex: 5;
	height: inherit;
}

.html__output {
	width: 50vw;
	flex: 5;
}

.ace_editor {
	position: absolute;
	width: inherit !important;
	height: inherit !important;
}
